/*

1. Add your custom Css styles below
2. Place the this code in your template:

 <link href="css/custom.css" rel="stylesheet">

*/

.header-img {
  max-width: 50%;
  filter: invert(1);
  padding: 25px;
}

.nav-logo {
  filter: invert(1);
}

.header-gradient {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 90%);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

span {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

.portfolio-item {
  padding: 20px;
}

.press-logo {
  filter: invert(1);
}
